/******************************************************************
Theme Name:  St. Edwards University Documentary Photography -
Theme URI: http://www.jointswp.com
Description: JointsWP - Yeoman - SASS
Author: Marcos Hernandez @ St. Edwards Munday Library
Author URI: http://www.yoururlhere.com
Version: 1.5 (Sass)
Tags:

Foundation Version: 5.3

------------------------------------------------------------------
*/


@import "compass/css3";
@import "compass/utilities";

//header

#seu-logo {
	background: url(../img/seu-logo-blue.svg);
	background-size: 250px 40px;
	display: inline-block;
	height: 30px;
	margin: 1em 0;
	text-indent: -9999px;
	vertical-align: middle;
	width: 250px;
	height: 40px;
}

.no-svg #seu-logo {
    background: url(../img/seu.png);
    background-repeat: no-repeat;
}


#searchform{
	display:inline-block;
	vertical-align: middle;
	margin-top: 0em;
	margin-right:1em;
	label{
		display: none;
	}
	input[type="text"]{
		padding: 1.25em 2em ;
		background-color: #d8d8d8;
		color: black;
		box-shadow: none;
		width: 300px;
		@include border-radius(1em);
		border:none;
		background-image: url(../img/magnifying-glass.svg);
		background-size: 16px 16px;
		background-repeat: no-repeat;
		background-position: 0.5em;
	}
}

.top-bar-section{
	margin-top: -.5em;
  	margin-right: 1em;
}

.breadcrumbs{
	border-width: 0px;
	margin-bottom: 3em;
	margin-top: 0em;
	padding:0;
	background-color: white;
	font-size:1em;
	overflow: visible;
	padding-bottom: 1em;

}
.top-bar{
	border-bottom: 1px solid $light-gray-color;
	height: 75px;
	.row{
		margin-left: auto;
  	margin-right: auto;
		max-width: $row-width;
	}

	.button{
		height: auto;
	}

	a.button{
		@include transition(all 0.3s ease-in-out);
		color: white;
		display:inline-block;
		vertical-align: middle;
	  padding: 0.2em 0.4em;
	  border-radius: 50%;
	  background-color: #002566;
	  font-size: 1.375em;
	  z-index: 4;
	  width: 36px;
	  height: 36px;


	}
	a.button.search{
		display:none
	}
}

.title-bar{
	background-color: $seu-blue;
	height: auto;
	padding:1em 0;
	h1{
		color: white;
		font-size: 2.5rem;
		font-weight: 300;
		line-height: 1em;

	}
	.dept{
		color: white;
		margin-bottom: 0;
		margin-top: 0em;
		a{
			color: white;
		}
	}
}


.home header.header, .archive header.header,
.blog header.header, .page-template-guides-php header.header{
	@extend .title-bar;
	height: 240px;

}

// top hamburger menu

#top-nav{
	position: relative;
	padding-top: .25em;
}

#nav-dropdown{
	position: absolute;
	top: 80px;
	background-color: white;
	width: 0px;
  right: 0;
	overflow: hidden;
	z-index: 10;
	@include transition(all 0.3s ease-in-out);
	ul{
		margin: 1em;
		width: 228px;
		ul{
			border-top:1px solid $teal;
			padding-top: 1em;
			width: auto;
			margin: 0;
		}
	}
	h5{
		padding: 0 0.5rem;
	}
}

#nav-dropdown.open{
	width:260px;
}

.top-bar .toggle{

    border: solid 2px $seu-blue;
    position: relative;
    z-index: 4;
		width: 36px;
		height: 36px;
		.hamburger {
			@include transition(all 0.3s ease-in-out);
		  background-color: #fff;
		  height: 2px;
		  left: 8px;
		  position: absolute;
		  width: 16px;
		}
		.hamburger.top-bar {
	    top: 10px; }
		.hamburger.mid-bar, .hamburger.mid-bar2 {
		  top: 15px; }
		.hamburger.bottom-bar {
			top: 20px; }
	}
.top-bar .toggle:hover {
  background-color: $teal;
  border-color: $teal;
}

.top-bar .toggle.open{
	@include transform(rotate(180deg));
  background-color: #fff;
  border-color: $teal;
	.hamburger{
		background-color: $teal;
	}
	.hamburger.top-bar,
	.hamburger.bottom-bar,
	 {
		@include transform(scale(0));
	}
	.hamburger.mid-bar,
	 {
		@include transform(rotate(45deg) perspective(1px));
	}
	.hamburger.mid-bar2{
		@include transform(rotate(-45deg) perspective(1px));
	}
}


.black-out {
  background-color: rgba(0, 0, 0, 0.7);
  height: 100vh;
  left: 0;
  position: fixed;
  opacity: 0;
  top: 0;
  width: 100vw;
  visibility: hidden;
	@include transition(all 0.3s ease-in-out);
	z-index: 3;
}

.black-out.open {
  opacity: 1;
  visibility: visible;
}




// home

.menu-homepage{
	margin-left: 0px;
		li {
			@include transition(all 0.3s ease-in-out);
			background-color: $gray-color;
			display: inline-block;
			margin: 0 0 0.25em 0;
			overflow: visible;
			padding: 1em;
			position: relative;
			vertical-align: top;
			width: 100%;
		h4{
			text-transform: uppercase;
		}
		em{
			float: right;
			font-size: .875em;
		}
		.info{
			display: none;

		}

	}
	li.open{
		background-color: $light-gray-color;
		.info{
			display: block;
		}
	}
}

#recent-guides-list{
	article{
		padding-bottom: 1em;
		margin-bottom: 1em;
		border-bottom: 1px solid $light-gray-color;
	}
	.topics{
		font-size: .75em;
	}
	h4,p{
		margin-bottom: 0;
	}
	.byline{
		font-size: .75em;
		font-style: italic;
		margin-bottom: 1em;
	}
	.columns{
		padding-left: 0;
	}

	.button{
		width: 100%;
	}
}


.accordion-plus {
	border: 1px solid $teal;
  border-radius: 999px;
  float: right;
  height: 22px;
  position: relative;
  width: 22px;
  top: 8px;
	cursor: pointer;
	@include transition(all 0.3s ease-in-out);
}

.accordion-plus:before, .accordion-plus:after {
  background-color: $teal;
  content: "";
  height: 3px;
  left: 3px;
  position: absolute;
  top: 8px;
  width: 14px;
	@include transition(all 0.3s ease-in-out);
}

.accordion-plus:after {
	@include transform(rotate(90deg));
}

.open > .accordion-plus {
	@include transform(rotate(180deg));
}

.open > .accordion-plus:after {
	@include transform(rotate(0deg));
}

#search input{
	padding: 1.75em 2.5em;
	font-size: 1.25em;
	background: url(../img/magnifying-glass.svg);
	background-size: 30px 30px;
	background-repeat: no-repeat;
	background-position: 0.5em;
}



// nav

.nav-li{
	position: relative;
	display: block;
	a{
		display: block;
		border-bottom: 1px solid $gray-color;
		background-color: $light-gray-color;
		font-weight: normal;
		padding: 1em;
		color: $teal;
		i{
			float: right;
			padding-top: .5em;
		}
	}
	a:hover{
		background-color: $blue-hover;
	}
}

.nav-pills, #sidebar .post-categories{
	margin-left: 0;
	ul{
		margin-left: 0;
	}
	ul.children ul.children{
		display: none;
	}
	ul.children .current_page_item ul.children,
	ul.children .current_page_parent ul.children
	{
		display: block;
		margin-left: 2em;
	}
	li{
		@extend .nav-li;
	}
	li.current_page_item > a{
		background-color: $blue;
		color: $white;
	}

}

 .categories{
		margin-left: 0;
	li{
		display: block;
		@extend .nav-li;
	}
}

.subject-title{
	display: block;
	background-color: $gray-color;
	font-weight: normal;
	padding: 1em 1em;
	color: black;
	font-size:1.25em;
	font-weight:600;
}


#sidebar .widget{
	background-color: $light-blue;
	margin-bottom: 2em;
	padding:1.25em;
	 h4{
		padding-bottom: .25em;
	 }
	img, span{
		display:block;
	}
}


#help_links{
	ul{
		margin-left: 0;
	}
	li{
		list-style-type: none;
	}

}



// content

#content{
	margin: 2em 0;
	h2{
		font-weight: 400;
	}
}



.page #main{
	section {
		margin-bottom: 1em;
	}
	section#questions{
		margin-bottom: 5em;
	}

}

.row.ques{
	border-bottom: 1px $light-gray-color solid;
	margin-bottom: 1.5em;
}

.q_a{
	display: inline;
	background-color: $teal;
	color: white;
	padding: 0.5em;
}



#books{
	border: 1px $light-gray-color solid;
	@include border-radius($border-radius);
	margin-bottom: 1em;
	padding: 1.5em;
	li{
		display: block;
		margin-bottom: 1em;
	}
}

.sub-header{
	margin-bottom: 2em;
	display: block;
	font-size:1.25em;
}

.bluebox{
	@include border-radius(8px);
	background-color: $blue;
	color: white;
	display: block;
	font-size: 1.5em;
	font-weight: 600;
	line-height: 1em;
	min-height: 180px;
	margin-bottom: 1em;
	padding: 22% 0.25em 10% 0.25em;
	position: relative;
	text-align: center;
	vertical-align: middle;
}

.guide-contents li a {
	@extend .bluebox;
}

.guide-contents.nested li{
	position: relative;
	a{
		@extend .bluebox;
		min-height: 240px;
	}
	ul.children{
		background-color: white;
		bottom: 3em;
		left: 5%;
		margin: 0px;
		min-height: 0px;
		padding:0em;
		position: absolute;
		top: 6em;
		width: 90%;


		li{
			color: $dark;
			display: block;
			height: auto;

			a {
				color: $teal;
				display: inline-block;
				padding: .75em 1em;
				min-height: 0px;
				margin-bottom: 0px;
				width: 100%;
				border-bottom: 1px solid $light-gray-color;
				border-radius: 0px;
				background-color: transparent;
				font-size: 1em;
			}
		}
	}

}


// footer
#help{
	background-color: $light-gray-color;
	margin-top: 4em;
	padding: 1.5em 0;
	text-align: center;
	li{
		display: inline-block;
		margin: 0 .75em;
	}
}

#footer{
	color:$white;
	background-color:$dark;
	border-top:5px solid $lime-green;
	padding: 3em 0;

	img{
		margin-bottom: 1em;
		width:200px;
	}
	a{
		color:$white;
	}
	h4{
		font-size:0.75em;
		color:$lime-green;
		text-transform: uppercase;
	}
	ul{
		margin-left: 0px;
	}
	li{
		display: block;
	}
	a:hover{
		color:$light-gray-color;
	}
}

//footer icons
#footer .social-group{

	li{
		display: inline-block;
	  margin: 0 6px 0 0;
		a {
		  background-image: url(../img/social-sprite.png);
		  background-position: left top;
		  background-repeat: no-repeat;
		  background-size: 260px 60px;
		  display: inline-block;
		  height: 30px;
		  overflow: hidden;
		  text-indent: -999px;
		  width: 30px; }
		a:hover {
	    background-position: left bottom; }
	}
	li:last-child {
	    margin-right: 0;
	}
	.tw a {
	  background-position: -38px top; }
	.tw a:hover {
	    background-position: -38px bottom; }
	.yt a {
	  background-position: -192px top; }
	.yt a:hover {
	    background-position: -192px bottom; }
	.ig a {
		  background-position: -230px top;
		}
	.ig a:hover {
		  background-position: -230px bottom;
		}

}


@media only screen and (max-width:40em) {

		#seu-logo {
			background-size: 200px 30px;
			height: 30px;
			margin: 1.5em 0;
			width: 200px;
			height: 30px;
		}

		#top-nav {
			position: absolute;
		}
		.top-bar{
			.right{
				position: absolute;
				top: .75em;
				right: 1em;
			}
			a.button.search {
				display:inline-block;
			}
		}
		.menu-homepage li h4 {
		  font-size: 1em;
		}

		#searchform{
			display:none;
		}
		#nav-dropdown.open {
		  width: 260px;
		  position: fixed;
		}


}


// Graph style

.svg-graph{
	margin-top: 2em;
	margin-bottom: 3em;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
	stroke-width: 1.5px;
}

.line {
  fill: none;
  stroke: $teal;
  stroke-width: 1.5px;
}

.overlay {
  fill: none;
  pointer-events: all;
}

.focus circle {
  fill: none;
  stroke: $lime-green;
}

.tooltip {
  position: absolute;
  width: 200px;
  height: 28px;
  pointer-events: none;
	display: block;
}

.dot{
	fill:$teal;
}


@media print {


	.no-print { display: none; }

	.title-bar, #footer, .breadcrumbs, #sidebar, .fixed{
		display: none;
	}

	.f-topbar-fixed{padding-top: 0px !important;}

	#content{margin: 0}

	#info{font-size: 0.75rem;}



	}
