// variables
$charcoal-color   : #4A4A4A;
$gray-color       : #d8d8d8;
$light-gray-color : #eaeaea;
$gray-border 	    : #cccccc;
$dark   		      : #333333;
$seu-blue         : #002566;
$seu-gold         : #bfab6c;
$teal             : #5f909f;
$blue 		      : #5f909f;
$blue-hover 	  : #b7ced4;
$light-blue       :#edf2f4;

$border-radius: 4px;
$lime-green: #c7cd42;
